@use "@picocss/pico/scss/pico" with (
	$theme-color: "cyan"
);

$miku_color1: #525658;

$miku_color2: #bec8d1;

$miku_color3: #86cecb;

$miku_color4: #137a7f;

$now_color: #047878;

$miku_color5: #e12885;

$minWidth: 980px;
$itemMinWidth: 728px;
$maxWidth: 1400px;

@font-face {
	font-family: "JetBrains Mono NL Medium";
	src: url("../font/JetBrainsMonoNL-Medium.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "Source Han Serif CN Medium";
	src: url("../font/SourceHanSerifCN-Medium.woff2") format("woff2");
	font-display: swap;
}

body {
	display: flex;
	justify-content: center;
	min-width: $minWidth;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 55px;
	padding-right: 55px;
	.container {
		max-width: 1250px;
	}
	font-family: "JetBrains Mono NL Medium", "Source Han Serif CN Medium";
}

// 所有的自定义深度必须在这里注册
// 名字：深度
$z-layers: (
	//-----基础-------
	"mainPage": 1,
	"sidebar": 2,

	//-----固定角标-------
	"toggleSidebar": 101,
	"changeLang": 102,
	"btnShowMsg": 103,

	//-----弹出窗口-------
	"overlay": 201,
	"tips": 202,

	//-----顶级弹窗-------
	"loadingMask": 301,

	//-----杂七杂八-------
);

@function z($key) {
	@if map-has-key($z-layers, $key) {
		@return map-get($z-layers, $key);
	}

	@warn "Unknown `#{$key}` in $z-layers.";
	@return 0;
}
