@use "@picocss/pico/scss/pico" with (
	$theme-color: "cyan"
);


body {
	display: flex;
	justify-content: center;
	min-width: 600px;
	padding: 20px; /* 添加 padding 以防止内容贴近屏幕边缘 */
}
.qrcodeButton {
	position: fixed;
	bottom: 60px;
	left: 10px;
	z-index: 1000;
	width: 40px;
	height: 40px;
}

.themeButton {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 1000;
	width: 40px;
	height: 40px;
}
#showQrcodeDiv {
	display: block;
	width: 160px;
	height: 160px;
	margin-top: 15px;
}
#hideQrcodeDiv {
	display: none;
	width: 0px;
	height: 0px;
	margin-top: 15px;
}

#uploadForm {
	display: flex;
	flex-direction: column; /* 在移动端，将元素堆叠成一列 */
	align-items: start; /* 对齐到左边 */
	gap: 10px;
}

#statusText {
	margin-left: auto;
	min-width: 100px;
}

#fileList {
	margin-top: 20px;
}

.item {
	display: flex;
	flex-direction: column; /* 在移动端，将元素堆叠成一列 */
	justify-content: space-between;
	align-items: start; /* 对齐到左边 */
	gap: 10px; /* 添加 gap 以增加元素之间的间距 */
}

.item > div {
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	align-items: center;
}

/* 媒体查询，当设备宽度大于 600px 时，使用以下样式 */
@media (min-width: 600px) {
	#uploadForm {
		flex-direction: row; /* 在非移动端，将元素排成一行 */
		align-items: center; /* 对齐到中间 */
	}

	.item {
		flex-direction: row; /* 在非移动端，将元素排成一行 */
		align-items: center; /* 对齐到中间 */
	}
}

#copyRight {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1000;
	text-decoration: none;
	color: inherit;
}
